{% extends "base.html" %}
{% block title %}
Регистрация читателя
{% endblock %}
{% block style %}
	{% include "inc-style.html" %}
{% endblock %}
{% block menu %}
	{% include "inc-menu.html" %}
{% endblock %}
{% block body %}
	<div>
		<li>
			<a href="/readers-list/">Список читателей</a>
		</li>
		<li>
			<a href="/create-reader/">Создать читателя</a>
		</li>
	</div>
    <h1>Добавление читатаеля в статью</h1>
    <form method="post">
        <select size="3" name="article_name">
            {% for item in articles %}
            <option value="{{item.name}}">{{item.name}}</option>
            {% endfor %}
        </select>
        <select size="3" name="reader_name">
            {% for item in readers %}
            <option value="{{item.name}}">{{item.name}}</option>
            {% endfor %}
        </select>
        <button type="submit">Записать</button>
    </form>
{% endblock %}