{% extends "base.html" %}
{% block title %}
Список разделов
{% endblock %}
{% block style %}
{% include "inc-style.html" %}
{% endblock %}
{% block menu %}
{% include "inc-menu.html" %}
{% endblock %}
{% block body %}
<a href="/">назад</a>

<h1>Список разделов</h1>
<ul>

    {% for item in objects_list %}
    <li>
        {{item.name}} <span>Количество статей: {{item.article_count()}}</span>
    </li>
    {% endfor %}
</ul>

<div>
    <li><a href="/courses-list/">Список статей</a></li>
    <li><a href="/create-course/">Создать статью</a></li>
</div>
{% endblock %}