<div id="container">
    <div id="header">История Античности</div>
    <div id="content">
        <h2>Зачем изучать историю</h2>
        <ul>
            <li>Во-первых, «история» – это совокупность всех реальных событий (фактов) жизни
                человечества. Это объективная история. Она доступна нам лишь в своих материальных,
                вещественных проявлениях (музейные экспонаты, археологические находки, памятники
                архитектуры и т.п.).
            </li>
            <li>Во-вторых, «история» – это информация, извлеченная из вышеперечисленных источников
                и истолкованная людьми. Это всегда субъективная история или интерпретация (любые
                научные труды, учебники, художественная литература, выступления Эдварда Радзинского с
                историческими сказками по телевизору). Следует отметить, что эта вторая часть
                (интерпретация) и лежит в основе исторического образования, а первая (источники) входят в
                него малыми дозами.
            </li>
            <li>«История – учительница жизни». Действительно, чего проще, читая древние истории, на
                событиях и примерах наших предшественников учиться тому, как нужно себя мудро вести,
                действовать и остерегаться! Но как ни странно, человечество, постоянно изучающее историю
                и ее ошибки, с удручающим постоянством их повторяет.
            </li>
        </ul>
    </div>
    <div id="content">
        <h3>Страны и статьи</h3>
        <table>
            <tr class="head">
                <th>Разделы</th>
                <th>Количество статей</th>
            </tr>
            {% for category in objects_list %}
            <tr>
                <th>{{ category.name }}</th>
                <td>{{ category.article_count() }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <form action="" method="post">
        <fieldset>
            <legend>Регистрация</legend>
            <p><label class="title" for="name">Ваше имя:</label>
                <input type="text" name="name" id="name"><br/>
                <label class="title" for="email">Ваш email:</label>
                <input type="text" name="email" id="email"></p>
            <p><label for="location" class="title">Специализация</label>
                <select name="location" id="location">
                    <option value="ny">Древняя Греция</option>
                    <option value="il">Древний Рим</option>
                    <option value="ca">Древний Египет</option>
                </select></p>
        </fieldset>
        <div class="submit"><input type="submit" value="Регистрация"/></div>
    </form>
    <div id="footer">&copy;</div>
</div>